{{#each gameInfo}}
<div class="gameInfoBg">

    <div class="container-lg" style="min-width: 100%; background-color: #2F4858; color: white">
        <div class="row" style="min-height: 47vh;">
            <div class="col col-sm-8 align-self-center">
                <div class="row align-items-center">
                    <h1 class="text-center" style="margin-bottom: 1%; font-size: xxx-large; color: rgb(190, 71, 190);">
                        {{NOMBRE_VIDEOJUEGO}} </h1>
                    <h3 class="text-center" style="margin-bottom: 3%;">Desarrolladora: {{DESARROLLADORA}} </h3>
                    <br>
                    <p class="text-center fw-light" style="font-size: larger; font-style: italic;">Descripción:
                        {{DESCRIPCION}}</p>
                </div>
                <FORM action="/wishList/{{ID_VIDEOJUEGO}}" method="POST">
                <div class="row justify-content-center" style="margin: 5vh; width: 90%; height: 100%;" >
                    <button class="btn btn-success btn-block"
                        style="background-color: #F26419; width: 100%; font-size: x-large; height: 90hv;" >agregar a
                        lista de
                        deseos</button>
                </div>
                </FORM>
                <div class="row justify-content-center" style="font-size: x-large;">El descuento historico mas bajo para este juego fue hace {{timeago FECHA_DESCUENTO}} , en la tienda
                    de {{TIENDA}}, con un precio de {{PRECIO}}</div>
            </div>

            <div class="col col-xxl-15 align-self-center">
                <img src="{{URL_IMAGEN}}" class="img-fluid" alt="aca va la imagen">
            </div>
        </div>
        <div class="row justify-content-center" style="background-color: #395B64; margin-top: 5vh;">

            <div class="col col-lg-3" style="margin-top: 5vh; margin-bottom: 5vh;">
                <div class="card" style="width: 12rem; background-color: #2F4858;">
                    <a href="{{URL_STEAM}}" target="_blank">
                        <img src="/images/steamLogo.png" class="card-img-top img-fluid" alt="steamLogo">
                        <div class="card-body">
                            <p class="card-text">precio en steam: {{PRECIO_STEAM}}</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col col-lg-3" style="margin-top: 5vh; margin-bottom: 5vh;">
                <div class="card" style="width: 12rem; background-color: #2F4858;">
                    <a href="{{URL_ENEBA}}" target="_blank">
                        <img src="/images/enebaLogo.webp" class="card-img-top img-fluid" alt="enebaLogo">
                        <div class="card-body">
                            <p class="card-text">precio en eneba: {{PRECIO_ENEBA}}</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col col-lg-3" style="margin-top: 5vh; margin-bottom: 5vh;">
                <div class="card" style="width: 12rem; background-color: #2F4858;">
                    <a href="{{URL_EPIC}}" target="_blank">
                        <img src="/images/epicLogo.png" class="card-img-top img-fluid" alt="epicLogo">
                        <div class="card-body">
                            <p class="card-text">precio en Epicgames: {{PRECIO_EPIC}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div>Error al cargar el juego, recarga la pagina</div>
{{/each }}